<nav class="footer-menu">
  <a class="footer-menu__button" href="#" aria-label="#">
    <i class="fa fa-plus"></i>
  </a>
  <a class="footer-menu__button active" href="#" aria-label="#">
    <i class="fa icon-edit"></i>
  </a>
  <a class="footer-menu__button" href="#" aria-label="#">
    <i class="fa icon-star"></i>
  </a>
  <a class="footer-menu__button" href="#" aria-label="#">
    <i class="fa fa-users"></i>
  </a>
  <a class="footer-menu__button" href="#" aria-label="#">
    <i class="fa fa-cog"></i>
  </a>
</nav>