<div class="social-pages">
  <div class="social-pages__text">Присоединяйтесь к нам</div>
  <div class="social-pages__button">
    <a class="social-button facebook icon-facebook" href="{{ this.theme.facebook }}" aria-label="Facebook"></a>
    <a class="social-button vk icon-vkontakte" href="{{ this.theme.vk }}" aria-label="Vkontakte"></a>
    <a class="social-button twitter icon-twitter" href="{{ this.theme.twitter }}" aria-label="Twitter"></a>
    <a class="social-button googleplus icon-google" href="{{ this.theme.googleplus }}" aria-label="Google+"></a>
  </div>
</div>