h1
  +default
    display: inline-block
    color: $color-main-dark
    font-weight: 600
    font-size: 18px
    margin-top: 20px
    margin-bottom: 20px
  +tablet
    font-size: 24px
  +laptop
    margin-top: 40px
    margin-bottom: 40px    


h2 
  +default
    color: $color-main-dark
    font-size: 20px
    font-weight: 400
    height: 60px
    line-height: 44px
  &::before
    content: ''
    border-bottom: 4px solid $color-second-light
    width: 20px
    height: 44px
    position: absolute

h3
  +default
    height: 20px
    line-height: 20px
    color: $color-main-dark
    font-size: 16px
    margin-top: 20px
    margin-bottom: 20px
    font-weight: 400

h4 
  +default
    height: 20px
    line-height: 20px
    color: $color-main-dark
    font-size: 16px
    font-weight: 400

.subtitle
  +default
    height: 20px
    line-height: 20px
    margin-top: -15px
    margin-bottom: 20px
    color: $color-main-light
    font-size: 14px
  +laptop
    margin-bottom: 40px
    margin-top: -30px
    font-size: 18px

.h4-subtitle
  +default
    height: 20px
    line-height: 20px
    color: $color-main-light
    font-size: 14px

.infostring
  +default
    display: inline-block
    height: 20px
    line-height: 20px
    font-size: 14px
    color: $color-main
    width: 100%
    margin-bottom: 10px
  &-icon 
    +default
      display: flex
      align-items: center
      width: 100%
      height: 40px
      line-height: 20px
      font-size: 14px
      color: $color-main
      margin-bottom: 20px
      img 
        padding-right: 20px
strong, b 
  +default
    font-weight: 600

p 
  +default
    color: $color-main
    font-size: 15px
    margin-bottom: 10px
    line-height: 22px
    text-indent: 20px
    font-weight: 300
  +tablet
    font-size: 16px
    line-height: 24px


a 
  color: $color-main
  &:hover
    color: $color-main-dark

.list
  +default
    display: flex
    width: 100%
    margin-bottom: 20px
.list_item
  +default
    min-width: 100%
    display: flex
  +tablet
    min-width: 50%
  +desktop
    min-width: 33%