;;

title = "author"
url = "/author/:slug"
layout = "default"
is_hidden = 0

==
use fw\Backend\Models\Person as Person;

function onStart()
{
    $this['shema_type'] = "person/shema";
    $this['info_type']  = "person/info";
    $this['page_title'] = "Автор";
    $this['record'] = Person::where('slug', '=', $this->param('slug'))->first();
}
==
{##}

{% if record %}
<div class="person">
  <h1> {{ record.title|person }} </h1>
  <div class="subheader"> {{ record.name }} </div>
  {% if record.pseudos %}
    Псевдонимы:
    {% for pseudo in record.pseudos %}
      {{ pseudo.title|person }}
    {% endfor %}
  {% endif %}
  {% if record.persons %}
    {% for person in record.persons %}
      {{ person.title|person }}
    {% endfor %}
  {% endif %}
  {% if record.is_author %}
    Автор
  {% endif %}
  {% if record.is_actor %}
    Актер
  {% endif %}
  {% if record.is_illustrator %}
    Художник
  {% endif %}
  {{ record.birthdate|ru_date }}
  {% if record.deathdate %}
    {{ record.deathdate|ru_date }}
  {% endif %}
 <img src="{{ record.photo|media }}" />
 <h2> Биография </h2>
 {{ record.bio|raw }}
</div>
{% endif %}