;;

title = "universes"
url = "/universes"
layout = "2_columns"
is_hidden = 0

==
use fw\Backend\Models\Universe as Universe;

function onStart()
{
    $this['page_title'] = "Вселенные";
    $this['records'] = Universe::orderBy('name', 'asc')->get();
}
==
{##}

{% set last_char = '' %}
{% for record in records %}
  {% set this_char = record.name|first|upper %}
  {% if this_char != last_char %}
    {% if last_char != '' %}
      </div>
    {% endif %}
    {% set last_char = this_char%}
    <h2> {{ this_char }} </h2>
    <div class="card_list">
  {% endif %}
  <div class="card">
    <a href="/{{ record.slug }}">
      <div class="card__image">
        <img src="{{ record.cover|media }}" alt="{{ record.name }}" />
      </div>
      <div class="card__content">
       <h3>{{ record.name }}</h3>
       <div class="subheader"> {{ record.name_translate }} </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>