.page
    &__content
        +default
            max-width: 100%
            margin: 0 15px
            display: grid
            grid-template-columns: auto
            grid-auto-rows: minmax(0px, auto)
            font-size: 16px //unit(14, pts, px)
            line-height: 24px //unit(20, pts, px)
            min-height: calc(100vh - 280px)
            color: $color-main
            font-weight: 300
        +mobile 
            font-size: unit(13, pts, px)
        +tablet
            grid-template-columns: auto 40px 300px
            grid-auto-rows: minmax(0px, auto)
            min-height: calc(100vh - 303px)
        +laptop
            margin: 0 40px
            min-height: calc(100vh - 240px)
        +desktop
            margin: 0 40px 0 80px

    &__main-content
        +default
            grid-column: 1
            grid-row: 2
        +tablet
            grid-column: 1
            grid-row: 1 / 10
            
    &__info-sidebar
        +default
            grid-column: 1
            grid-row: 1
        +tablet 
            grid-column: 3
            grid-row: 1

    &__adv-sidebar
        +default
            grid-column: 1
            grid-row: 4
        +tablet 
            grid-column: 3
            grid-row: 3

    &__add-sidebar
        +default
            grid-column: 1
            grid-row: 3
        +tablet 
            grid-column: 3
            grid-row: 2

