
h1 {
  color: blue;
}

.circle {
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.circle canvas {
  vertical-align: top;
}
.circle strong {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
  font-size: 14px
}

