;;
==
==
{##}

<h3> Похожие авторы </h3>
<div class="sidebar-block">
  <div class="infostring-icon">
    <img src="{{ 'assets/images/40x40 dump.png'|theme }}" alt=""/>
    <span>Имя автора</span>
  </div>
  <div class="infostring-icon">
    <img src="{{ 'assets/images/40x40 dump.png'|theme }}" alt=""/>
    <span>Имя автора</span>
  </div>
  <div class="infostring-icon">
    <img src="{{ 'assets/images/40x40 dump.png'|theme }}" alt=""/>
    <span>Имя автора</span>
  </div>
  <div class="infostring-icon">
    <img src="{{ 'assets/images/40x40 dump.png'|theme }}" alt=""/>
    <span>Имя автора</span>
  </div>
  <div class="infostring-icon">
    <img src="{{ 'assets/images/40x40 dump.png'|theme }}" alt=""/>
    <span>Имя автора</span>
  </div>
</div>